.country_wrapper {
    background-color: rgb(224, 222, 222);
}


.country-header {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    margin-bottom: 0px;
}

.country-header_wrapper>p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    margin-bottom: 0px;
}

.country-header_wrapper {
    padding: 20px 100px 10px;
    background-color: rgb(10, 55, 77);
    color: white
}

.country-banner_wrapper {
    position: relative;
    height: 510px;
    /* margin-bottom: 30px; */
}

.country-banner {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    /* border-radius: 20px 20px 0 0; */
    /* height: 50%; */
}
.country-desc > p {
    text-align: justify;
    font-size: 20px;
}

.country-addition {
    font-size: 20px;
}

.country-desc, .suggest-tour, .country-addition{
    /* padding: 0 100px; */
    text-align: left;
    margin-top: 50px;
    
}

.suggest-tour>h2, .country-desc>h2, .country-addition > h2 {
    font-size: 28px;
    font-weight: 400;
}

.country-desc>.last {
    margin-bottom: 0;
}

.suggest-card_wrapper {
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    
}

.suggest-card_wrapper:hover {
    scale: 1.04;
}

.suggest-img {
    border-radius: 10px 0 0 10px;
    height: 100%;
}

.sg-desc {
    background-color: rgb(255, 245, 245);
    padding: 20px;
    border-radius: 0 10px 10px 0;
}

.sg-interac {
    background-color: rgb(101, 233, 101);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 10px 0 10px
}
.sg-book, .sg-know {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sg-book>h3, .sg-know>h3 {
    margin: 0;
    line-height: 36px;
}

.sg-know {
    border-right: 0.025px white solid
}

.sg-know:hover {
    cursor: pointer;
    opacity: 0.7;
}

.sg-book:hover {
    cursor: pointer;
    opacity: 0.4;
}

.country-addition {
    text-align: left;
    /* height: 200px;
    overflow:-moz-hidden-unscrollable; */
}

.country-addition > p > i {
    color: green
}

.sg-info > label {
    font-weight: 600;
    margin: 2.5px 0; 
}

.main-info {
    height: 80px;
    background-color: rgb(1, 14, 32);
    border-radius: 0 0 20px 20px;
    margin-bottom: 50px;
    position: relative;
}

.main-info::before {
    content: "";
    background-image: linear-gradient(rgba(3, 42, 97, 0) 0%, rgb(1, 14, 32) 0%, rgb(1, 14, 32) 5%, rgba(3, 42, 97, 0));;
    height: 40px;
    width: 100%;
    position: absolute;
    top: -40px;
    left: 0;
    transform: rotate(180deg);
}