.mdrcm-card_img {
    width: 100%;
    height: 400px !important;
    border-radius: 7px;
    /* box-shadow: 5px 10px 20px rgb(0, 0, 0); */
}

.mdrcm-card_choice>div>h1 {
    font-size: 18px;
    color: white;
    align-items: center;
    line-height: 16px;
    margin-bottom: 0
}

.mdrcm-card_choice>div {
    background-color: rgb(1, 198, 132);
    border-style: none;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* margin: 0 5px; */
}

.mdrcm-card_choice:hover {
    opacity: 0.7;
    cursor: pointer;
}

.mdrcm-card_info-wrapper {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdrcm-card_info {
    margin-top: 30px;
    text-align: left;
}

.mdrcm-card_header {
    margin-bottom: 0;
    font-size: 30px;
}

.mdrcm-card_desc {
    justify-content: left;
    margin-bottom: 0;
    margin-top: 10px;
}

.mdrcm-card_inter {
    margin-top: 20px;
}