.search-input-group {
  padding: 50px 200px 0px;
}

/* ChooseDestination.css */
.full-screen-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.8;
}

/* Your existing styles for .container and other elements */

.centered {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.del-btn {
  float: right;
}
