@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

.ques-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

#departure-date-picker {
    text-align: center;
}

  