@import url('https://fonts.googleapis.com/css?family=Sofia');
body {
    margin: 0;
  }
  
.search-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

  }
  
  .search-title-p1,
  .search-title-p2,
  .search-title-p3 {
    text-align: center;
    font-family: "Sofia", sans-serif;
    margin: 0 7px;
    display: inline-block;
  }
  
  .search-title-p2 {
    font-size: 34px;
    font-style: italic;
    color: #09b367;
  }
  
  .search-title-p1,
  .search-title-p3 {
    font-size: 22px;
  }

  #searchContainer {
    display: flex;
    justify-content: center;
  }
  
  