.tour-desc {
    border: 0.025px solid grey;
    border-radius: 15px;
    background-color: white;
}

.tour-desc_options {
    width: 100%;
    margin-bottom: 15px;
}

tr, td {
    border-style: solid;
    border-width: 0.025px;
    border-color: gray;
}

thead>tr>td {
    color: rgb(10, 202, 10)
}