.footer-aboutus {
    /* border-style: solid; */
    text-align: left;
    padding-bottom: 40px;
    /* border-radius: 10px; */
    /* background-color: rgb(171, 248, 171); */
    /* color: white;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: 0.25px;
    border-bootom-color: rgba(255, 255, 255, 0.05) */
}

.footer-info {
    padding-bottom: 20px;
    color: white;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 0.25px;
    border-bootom-color: rgba(255, 255, 255, 0.05)
}

.footer-icon {
    margin-bottom: 5px;
    text-align: center;
}

.footer-icon_wrapper {
    text-align: center;
}


.footer-icon_wrapper>a {
    font-size: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.aboutus-info {
    margin-bottom: 0;
}

.aboutus-logo {
    margin-top: 0;
    width: 30%;
}

.footer-wrapper {
    background-color: black;
    color: white;
    padding: 20px 0 20px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo_img {
    /* height: 100%; */
    width: 100%
}

.footer-social>h3, .footer-contact>h3, .footer-category>h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-category_1>a, .footer-social>a, .footer-contact>a {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
    text-decoration: none;
    font-size: 16px;

}


.footer-admin > p {
    text-align: center;
    margin: 0;
}

.footer-category>form {
    border: none;
    background-color: none;
    color: white;
    border-collapse: collapse;
}

.form-contact_btn {
    width: 100px;
    border: 0.025px solid #ffffff;
    padding: 5px 10px;
    text-align: center;
}

.form-contact_btn:hover {
    background-color: #333;
    color: #000;
}