.account-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 20px 30px;
}

.account-table thead {
  background-color: #f2f2f2;
}

.account-table th {
  padding: 12px;
  text-align: left;
  border-right: 1px solid #ddd;
  text-align: center;
}

.account-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.account-table tbody tr:nth-child(even) {
  background-color: #feffd0;
}

.account-table th,
.account-table td {
  padding: 15px 20px;
}

/* button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
} */

@media (max-width: 600px) {
  .account-table th,
  .account-table td {
    font-size: 14px;
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-container,
.sort-container,
.search-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
