.brcm-card_choice>div>h1 {
    font-size: 18px;
    color: white;
    align-items: center;
    line-height: 16px;
    margin-bottom: 0;
    font-weight: 600;
}

.brcm-card_choice>div {
    background-color: rgb(1, 198, 132);
    border-style: none;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* margin: 0 5px; */
}

.brcm-card_choice:hover {
    opacity: 0.7;
    cursor: pointer;
}

.brcm-card_img-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brcm-card_img {
    border-radius: 7px;
    box-shadow: 5px 0px 15px rgb(0, 0, 0);
}

.brcm-card_img:hover {
    scale: 1.025;
    cursor: pointer;
}

.brcm-card_info-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brcm-card_header {
    margin-bottom: 0;
}

.brcm-card_desc {
    justify-content: justify;
    margin-bottom: 0;
    height: 170px;
    overflow: hidden;
}

.brcm-card_inter {
    margin-top: 20px;
}