.schedule-wrapper {
    background-color: white;
    border-style: solid;
    border-color: rgb(226, 223, 223);
    border-width: 0.025px;
    border-radius: 10px;
}


.schedule-wrapper>h1 {
    /* text-align: left; */
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;   
    margin-bottom: 8px;
    border-bottom: solid 0.025px rgb(226, 223, 223); 
    padding: 10px;
    /* margin: 0 !important; */
}


.tour-cost {
    margin-top: 10px;
    padding: 7px;
    background-color: rgb(32, 175, 32);
    border-radius: 0 0 10px 10px;
    border: 0.1px solid gray;
    user-select: none;
}

.tour-cost > h1 {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.tour-cost:hover {
    opacity: 0.5;
    cursor: pointer;
    h1 {
        color: white
    }
}