.rcm-card_img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 5px 10px 18px #888888; 
}

.rcm-card_wrapper {
    position: relative;
}

.rcm-card_wrapper:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.rcm-footer_black {
    position: absolute;
    top: calc(100% - 70px);
    left: 0;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(rgba(0,0,0,0) 0%, black 0%, black 75%, rgba(0,0,0,0));
    padding: 0 15px;
    border-radius: 7px;
    transform: rotate(180deg);
}

.rcm-info_wrapper {
    position: absolute;
    top: calc(100% - 55px);
    left: 0;
    width: 100%;
    height: 75px;
    padding: 5px 20px;
}

.rcm-info {
    font-size:14px;
    color: white;
    text-align: left;
    margin-bottom: 0;
}

.rcm-desc {
    font-size:14px;
    color: white;
    text-align: left;   
}