.banner-info {
    text-align: justify;
    padding: 0 75px;
    position: absolute;
    transform: translateY(-175px);
    color: white;
    z-index: 100;
}

.banner-header {
    font-size: 50px;
}

.banner-arrow {
    scale: 5;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    transform: translate(6px, -50%);
    color: white;
    display: none;
}

.banner-forward {   
    /* height: 100px; */
    position: absolute;
    top: 56px;
    right: 0;
    height: calc(100% - 56px);
    width: 75px;
    text-align: center;
    align-items: center;
}

.banner-forward:hover, .banner-backward:hover {
    background-color: rgba(0, 0, 0, 0.2);

    i {
        display: flex;
    }
}
/* 
.banner-backward:hover {
    background-color: rgba(0, 0, 0, 0.2);
} */

.banner-backward {   
    /* height: 100px; */
    position: absolute;
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    width: 75px;
    text-align: center;
    align-items: center;
}

.rcm-title {
    margin-top: 60px
}

/* Tutorial */

.rcm-tutorial {
    margin-top: 60px;
    margin-bottom: 60px;
}

.rcm-tutorial:hover {
    opacity: 0.5;
    cursor: pointer;
}

.rcm-tutorial_img {
    border-radius: 15px 15px 0 0;
}

.rcm-tutorial_btn {
    background-color: rgb(1, 198, 132);
    height: 70px;
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 15px 15px
}

.rcm-tutorial_btn>h2 {
    font-size: 25px;
    color: white;
    align-items: center;
    line-height: 25px;
    margin-bottom: 0;
}

/* Footer */

.footer-aboutus {
    /* border-style: solid; */
    text-align: left;
    padding: 30px;
    /* border-radius: 10px; */
    /* background-color: rgb(171, 248, 171); */
    color: white;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: 0.25px;
    border-bootom-color: rgba(255, 255, 255, 0.05)
}

.aboutus-info {
    margin-bottom: 0;
}

.aboutus-logo {
    margin-top: 0;
    width: 30%;
}

.footer-wrapper {
    background-color: black;
    color: white;
    padding: 50px;
}

/* Search Bar */
.search-wrapper {
    background-color: white;
    border: none;
    box-shadow: 5px 2px 10px rgb(0, 0, 0, 0.2);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 16px;
    margin: 0 10px;
}

.search-input_wrapper {
    height: 100%;
    flex: 1;
}

.search-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0 16px;
    line-height: 40px;
    color: rgb(165, 160, 160)
}

.search-logo {
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: rgb(202, 197, 197)
}