.sub-nav {
    height: 40px !important;
    background-color: rgb(70, 216, 70);
    /* width: 100%; */
    border-radius: 0 0 20px 20px;
    /* margin-bottom: 40px */
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.3);
}

.sub-nav_tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.sub-nav_tab:hover {
    background-color: rgb(187, 172, 172);
    color: black
}


.tab-btn {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px
}

.chosen {
    background-color: rgb(187, 172, 172);
    color: black
}

.sub-nav_wrapper {
    position: fixed;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}